@import url(../index.css);
@import url(../components-css/header.css);
@import url(../components-css/footer.css);
@import url(../components-css/content-page.css);


a{
    text-decoration: none;
    color: var(--cor-laranja);
    font-weight: 500;
}

.img-produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-image: url(../../img/tec.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
