@import url(../index.css);
@import url(../components-css/header.css);
@import url(../components-css/footer.css);
@import url(../components-css/content-page.css);
@import url(../pages-css/prevencaodoenca.css);

.main-img-wrap {
  height: 350px;
  display: flex;
  justify-content: center;
}

.gif-wrap {
  background-image: url(../../img/cientista.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
